{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>中国大百科全书出版社・数据与专题中心</title>
{#    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>#}
</head>
<body>
    <header class="page-title">
        <h1>中国大百科全书出版社・数据与专题中心</h1>
{#        <div style="float: right" id="greeting" ></div>#}
{#        <br/>#}
    </header>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" role="navigation">
{#    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">    #}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a  href="{% url 'homepage:homepage' %}" class="nav-link">首页</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'toolbox:toolbox' %}" class="nav-link">工具箱</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'processonline:processonline' %}" class="nav-link">数据在线处理</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'datashare:datalist' %}" class="nav-link">数据共享</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'homepage:contact' %}" class="nav-link">联系我们</a>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        用户
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'login:login' %}" class="dropdown-item">登录</a>
                        <a href="{% url 'login:logout' %}" class="dropdown-item">登出</a>
                        <a href="{% url 'login:changepwd' %}" class="dropdown-item">修改密码</a>
                        <a href="/control"  class="dropdown-item">管理员</a>
                    </div>
                 </div>
            </li>
        </ul>
        <span class="navbar-text" id="greeting" ></span>
    </nav>
    <br/>

    <div class="container-fluid px-0">
        <div class="container px-0">
            <div class="row">
                <div class="col-12 col-lg-9 bg-light">
                    <!可替换的block>
                    {% block content%}
                        <div>
                            这是可以替换的内容。
                        </div>
                    {% endblock %}
                </div>

                <div class="col-12 col-lg-3">
                    {# offse-1 显示分隔 #}
                    <div class="card">
                        <div class="card-header">
                            <b>待办事项 &nbsp</b>
                            <a href="{% url 'datashare:matter' %}">
                                >>详情
                            </a>
                        </div>
                        <div class="card-body" id="bulletin-content"></div>
                    </div>
                </div>
            </div>
        </div>

    <div id="test"></div>
    <br/>
    <div>
        {% if links %}
            <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-bottom" >
                <ul class="navbar-nav">
                    {% for link in links %}
                    <li class="nav-item">
                        <a  href="{{ link.url }}" class="nav-link">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

{#<script type="text/javascript" src="{% url 'homepage:bulletin' %}"></script>#}
<script>
    {#function getRootPath(){#}
    {#    var strFullPath = window.document.location.href;#}
    {#    var strPath = window.document.location.pathname;#}
    {#    var pos = strFullPath.indexOf(strPath);#}
    {#    return strFullPath.substring(0,pos);#}
    {#    };#}
    {#var basePath = getRootPath();#}
    function setResult(data){
        var is_login = data['is_login'];
        var user_name = data['user_name'];
        var form_list = data['form_list'];
        var greeting = '';
        var str = '';
        if(Boolean(is_login)===false){
            greeting += '未登陆！';
            str += '登陆后显示待办事项';
        }else if(form_list===false){
            greeting += '欢迎&nbsp;' + user_name + '&nbsp;光临本站！';
            str += '没有需要处理的事项';
        }else{
            greeting += '欢迎&nbsp;' + user_name + '&nbsp;光临本站！';
            var form_num = form_list.length;
            for (var i = 0; i < form_num; i++) {
                var item = form_list[i];
                str += '<li style="list-style:circle">' + item[1] + '&nbsp的下载申请'  + '：' + item[2] + '</li>';
            };
        };
        document.getElementById('greeting').innerHTML = greeting;
        document.getElementById('bulletin-content').innerHTML = str;
        {#document.getElementById('bulletin-content').innerHTML = '显示这个消息说明上述不成功';#}
        {#$('#bulletin-content').html('显示这个消息说明上述不成功');#}
    };
    $.ajax({
        type: "GET",
        url: "{% url 'datashare:bulletin' %}",
        async: true,
        dataType: "JSON",
        success: function(data){
            setResult(data)
        }
    });
</script>
{#<script>#}
{#    $(".nav .nav-link").on("click", function(){#}
{#       $(".nav").find(".active").removeClass("active");#}
{#       $(this).addClass("active");#}
{#    });#}
{#</script>#}
<script>
    $(document).ready(function() {
      $('li.active').removeClass('active');
      $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
</script>
</html>